
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner section */
.container{
    background-image: url('/images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.banner{
    float: right;
    width: 500px;
    margin-top: 200px;
    margin-right: 15%;
}
.banner-title{
    text-align: right;
    font-size:50px;
    font-weight: bold;
}
.banner-discription{
    text-align: right;
    margin-top: 8px;
}
.banner-btn{
    float: right;
    background-color: #F15B22;
    border: none;
    color: #ffff;
    padding: 5px 10px;
    margin-top: 8px;
}
/* fancy section */
.fancy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.fancy-img{
    width: 30%;
}
.fancy-img img{
    width: 70%;
    float: right;
}
.fancy-img{
    width: 30%;
}
.fancy-dis{
    margin-left: 50px;
    width: 30%;
}
.fa-check{
    
    color: #04ea49;
}
.check-mark p{
    display: inline;
}
/* plans css  */
.plans{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.plan-item{
    text-align: center;
}
.plan-item p{
    color: #837e7e;
}